* {
  margin: 0;
  padding: 0;
}
body {
  width: 1310px;
  background-color: #d9d9d9;
}
.logo-container {
  background-color: #F72312;
  color: white;
  margin-left: 10%;
}
.logo-container #date {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
}
.logo-container svg {
  fill: white;
}
.deco::before {
  content: "";
  display: block;
  background-color: #d9d9d9;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
}
.deco::after {
  content: "";
  display: block;
  background-color: #d9d9d9;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
}
