@fonts: 'Arial', 'Helvetica', 'Roboto', 'Newsreader';
@colors:  #f72210, #FFFFFF, #FEE400, #818181, #F4F5F6;

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #F4F5F6;
}

body {
    width: 100%;
    background-color: white;
}

// LOGO  

.logo-container {
    background-color: extract(@colors, 1);
    color: white;
    padding: 20px 10px 15px;
    height: 100px;
    width: 1310px;
    #date {
        font-family: extract(@fonts, 3), sans-serif;
        font-weight: 300;
        font-size: 16px;
        margin-top: 36px;
    }
    svg {
        fill: white;
        margin-left: 80px;
    }
    .top-btns {
        margin-top: 36px;
        font-family: extract(@fonts, 3);
        font-size: 18px;
        a {
            text-transform: uppercase;
            text-decoration: none;
            color: white;
            margin: 4px 0;
            padding: 0 15px;
            font-weight: 500;
        }
        .btn-warning {
            border-radius: 50px;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 500;
            padding: 0;
            width: 140px;
            background-color: extract(@colors, 3);
            margin-top: -4px;
            .expand-arrow {
                transform: rotate(-90deg);
                width: 15px;
                height: 15px;
                padding: 0;
                margin-bottom: 4px;
            }
        }
    }
}

// NAVBAR 
.main-nav {
    font-family: extract(@fonts, 3);
    font-weight: 500;
    width: 1230px;
    background-color: white;
    height: 40px;
    position: absolute;
    z-index: 2;
    bottom: 10px;
    ul{
        width: 1200px;
        margin: 0 -13px;
        height: 20px;
        display: flex;
        li {
            padding: 0 18.5px;
            border-left: .5px solid rgb(207, 207, 207);
            a{
                text-decoration: none;
                color: black;
                text-align: center;
            }
            a:hover {
                color: extract(@colors, 1)
            }
        }
    } 
    form {
        input[type="search"]{
            width: 80px;
            height: 30px;
            border: none;
        }
        button {
            padding: 0;
            height: 30px;
            border: none;
        }
    }
}

.main-nav::after {
    content: "";
    display: inline;
    // position: absolute;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-top: 20px solid transparent;
    border-left: 10px solid white;
    border-bottom: 20px solid transparent;
}


// TRENDING BAR 
#trending-bar {
    width: 1310px;
    height: 40px;
    // background-color: purple;
    border-top: solid 2px extract(@colors, 5);
    border-bottom: solid 2px extract(@colors, 5);
    ul {
        list-style-type: none;
        li {
            display: inline;
            font-size: 16px;
            font-weight: 500;
            a {
                font-family: extract(@fonts, 3);
                color: extract(@colors, 4);
                text-transform: uppercase;
            }
            a:hover {
                color: extract(@colors, 1)
            }
        } 
    }
}










.deco::before {
    content: "";
    display: block;
    background-color: #d9d9d9;
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
}

.deco::after {
    content: "";
    display: block;
    background-color: #d9d9d9;
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
}


// media queries 

// @media (max-width: 1024px) {
//     .logo-container {
//         width: 1024px;
//         margin-left: 0;
//     }
// }